body {
  background: #232020;
}

.signup_link {
  color: rgb(188, 187, 187);
  display: inline-block;

  &:hover {
    color: aquamarine;
    transition: 0.4s ease;
  }
}

.main {
  margin-left: 270px;
  width: 80%;
  color: var(--text-white);
}

@media screen and (max-width: 1280px) {
  .main {
    margin-left: 160px;
    width: 77%;
  }
}

@media screen and (max-width: 500px) {
  .main {
    margin-left: 90px;
    width: 95%;
  }
}
