:root {
  --bg-main: #232020;
  --text-white: #d2d2e4;
  --text-hover: #a8a8ea;
  --bg-gray: #585353;
  --bg-gray-sub: #3b3434;
  --bg-blue: rgb(26, 125, 177);
}

body {
  background: #232020;
}

.signup_link {
  color: rgb(188, 187, 187);
  display: inline-block;

  &:hover {
    color: aquamarine;
    transition: 0.4s ease;
  }
}

.main {
  margin-left: 270px;
  width: 80%;
  color: var(--text-white);
}

@media screen and (max-width: 1280px) {
  .main {
    margin-left: 160px;
    width: 77%;
  }
}

@media screen and (max-width: 500px) {
  .main {
    margin-left: 90px;
    width: 95%;
  }
}


// ============= Profile ===================
.profile {
  position: relative;
  z-index: 0;
}

.profileWrapper {
  position: absolute;
  top: 100px;
  width: 100%;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.profileInfo {
  margin-top: 20px;
  margin: 0 15px;
}
.profileUserImg {
  position: absolute;
  left: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  top: 170px;
}

.modalSaveButton {
  position: absolute;
  right: 40px;
  top: 10px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;

  &:hover {
    transition: 0.2s;
    background: rgb(115, 115, 211);
  }
}

.profileEditButton {
  position: absolute;
  right: 40px;
  top: 270px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  &:hover {
    transition: 0.2s;
    background: rgb(170, 170, 225);
  }
}

.deleteBtn {
  margin-left: 30px;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(214, 98, 98);

  &:hover {
    transition: 0.2s;
    opacity: 0.7;
  }
}

.profileMessageButton {
  position: absolute;
  right: 10%;
  top: 270px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: rgb(44, 229, 27);

  &:hover {
    transition: 0.2s;
    opacity: 0.7;
  }
}

.profilefollowButton {
  position: absolute;
  right: 220px;
  top: 270px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: rgb(27, 155, 229);
}

.profileUnfollowButton {
  position: absolute;
  right: 220px;
  top: 270px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: rgb(237, 55, 9);
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoUsername {
  margin-bottom: 5px;
}

.profile_icons {
  margin-top: 20px;
  display: flex;
}

.profile_icon {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}

.profile_icon2 {
  display: flex;
  align-items: center;
  margin-left: 15px;
  span {
    margin-left: 10px;
  }
}
.profile_icon3 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  span {
    margin-left: 10px;
  }
}

.profile_icon_link {
  color: rgb(64, 64, 193);
  text-decoration: underline;
  &:hover {
    opacity: 0.7;
  }
}

.follow_profile {
  display: flex;
  margin-top: 10px;

  span {
    color: #747272;
  }

  p {
    margin-right: 7px;
  }
}

.profile_tabs {
  margin-top: 10px;
  .tablist {
    background: rgb(107, 103, 103, 0.8);
    text-align: center;
  }

  .tabPanel {
    margin-top: 10px;
  }
}

.profileInfoDesc {
  width: 90%;
  overflow-wrap: break-word; /* テキストを折り返す */
}


// ============== group ====================
.groupWrapper {
  position: absolute;
  top: 75px;
  width: 75%;
}

.message_header {
  text-align: center;
  h2 {
    font-size: 25px;
    padding: 10px;
    font-weight: bolder;
  }
}

.messages_name {
  display: flex;
  align-items: center;
  margin-top: 10px;
  h2 {
    margin-left: 10px;
  }
}

.messages_page_body {
  margin: 0 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;

  width: 800px; /* 省略せずに表示するサイズを指定 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1280px) {
  .messages_page_body {
    width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .messages_page_body {
    width: 400px;
  }
}
@media screen and (max-width: 650px) {
  .messages_page_body {
    width: 250px;
  }
}


.messages_list {
  border: 1px solid rgb(214, 209, 209);
  background-color: var(--bg-gray);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.messages_icon {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

//============= GroupDetail ===================
.groupDetailWrapper {
  position: absolute;
  top: 80px;
  width: 85%;
}

.message-box-header {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #a9a2a2;

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 1.7rem;
    margin: 0 60px 0 10px;  //「上」､「右」､「下」､「左」を指定（時計回り）
    color: #aca9a9;
  }

  .info-item {
    font-size: 1.4rem;
    margin-left: 60px;
  }
}



.message-box-body-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 95%;
}


.message-box-body-info p {
  background-color: rgb(122, 118, 118);
  border: 1px solid beige;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 40px 10px;
  color: #f8f4f4;
  width: 350px;
  overflow-wrap: break-word;
}

.message-box-body-info-other {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-right: 100px;
}

.message-box-body-info-other p {
  background-color: rgb(116, 114, 114);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 350px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 1280px) {
  .message-box-body-info p {
    width: 200px;

  }

  .message-box-body-info-other p {
    width: 200px;
   }


}

.messageForm {
  input {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    background-color: var(--bg-gray);

  }

  button {
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bg-gray);
    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 1280px) {
  .message-box-body-info {
    width: 80%;
  }
  .messageForm {
    input {
      width: 80%;
    }
  }
}

@media screen and (max-width: 900px) {
  .messageForm {
    input {
      width: 70%;
    }
  }
}

@media screen and (max-width: 600px) {
  .messageForm {
    input {
      width: 60%;
    }
  }
}



// ============= notifications ========
.notifications {
  position: absolute;
  top: 150px;
}

.notification_box {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  h3 {
    margin-left: 10px;
    font-size: 1.2rem;
  }
}

// ============= postShow ====================
.postShowWrapper {
  padding: 20px 20px;
  margin-right: 20px;
  // border-right: 2px solid black;
  border: 2px solid black;

  .postShowHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin-left: 40px;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  .postShowName {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 20px;
    }
  }

  .postShowBody {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 95%; /* 追加 */
    overflow-wrap: break-word;
  }
}

.postShowImg {
  width: 80%;
  max-height: 300px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 5px;
}

.postShowIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  .PostIcon {
    display: flex;
    align-items: center;

    .postIconIcon {
      font-size: 1.4rem;
    }

    span {
      margin-left: 7px;
    }
  }
}

.postShowCommentForm {
  margin-top: 20px;
}


.postShowCommentFormImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.postShowCommentFormInput {
  margin: 10px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background: var(--bg-input);
  color: var(--white-color);

  &:focus {
    outline: none;
  }
}

.ml-15 {
  margin-left: 60px;
}

.postShowCommentFormButton {
  padding: 5px 20px;
  border-radius: 30px;
  background: rgba(41, 103, 217, 0.537);
  color: var(--white-color);

  &:hover {
    opacity: 0.9;
  }
}

.commentPostWrapper {
  border: 2px solid black;
  margin-right: 20px;
  padding: 20px;

  .commentToCommentIcon {
    margin-top: 10px;
    margin-left: 65px;
    font-size: 1.4rem;
  }

  .commentToCommentIconNumber {
    margin-top: 7px;
    margin-left: 5px;
    font-size: 1.1rem;
  }
}

.commentPostInfo {
  display: flex;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
}

.commentDelete {
  margin-left: 30px;
  border: 1px solid black;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgb(214, 98, 98);

  &:hover {
    transition: 0.2s;
    opacity: 0.7;
  }
}

// ========== timeline =========
.postDetail {
  position: absolute;
  top: 130px;
  width: 80%;
  background-color: var(--bg-gray);
  padding: 30px 40px;
  border-radius: 5px;
}

@media screen and (max-width: 1280px) {
  .postDetail {
    width: 77%;
  }
}
@media screen and (max-width: 1000px) {
  .postDetail {
    width: 72%;
  }
}
